<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PictureLogMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.model.entity.PictureLogPO">
            <id property="logId" column="log_id" jdbcType="VARCHAR"/>
            <result property="logType" column="log_type" jdbcType="VARCHAR"/>
            <result property="logFolder" column="log_folder" jdbcType="VARCHAR"/>
            <result property="logPath" column="log_path" jdbcType="VARCHAR"/>
            <result property="logHostname" column="log_hostname" jdbcType="VARCHAR"/>
            <result property="logIp" column="log_ip" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,log_type,log_folder,
        log_path,log_hostname,log_ip,
        create_user,create_time,update_user,
        update_time
    </sql>
</mapper>
