<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PictureLogResultMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.model.entity.PictureLogResultPO">
            <id property="resultId" column="result_id" jdbcType="VARCHAR"/>
            <result property="logId" column="log_id" jdbcType="VARCHAR"/>
            <result property="recognizeResult" column="recognize_result" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        result_id,log_id,recognize_result,
        create_user,create_time,update_user,
        update_time
    </sql>
</mapper>
